*{
	margin: 0px;
	padding: 0px;	
}

html,body{
	height: 100%;
}
body{
	overflow-x:hidden;
}

.registerLogin{ 
	padding-top: 15%;
	padding-bottom: 10%;
}
.register, .login{
	background-color: rgba(0,0,0,0.4);
	padding: 2%;
	padding-bottom: 10%;
}

/*Register*/
.backgroundRegister{
	height: 100%;
	background: url(../img/login/winter.jpg) no-repeat;
	background-size : 50% 100%;
	background-attachment: fixed; 
}

/*Login*/
.backgroundLogin{
	height: 100%;
	background: url(../img/login/summer.jpg) no-repeat;
	background-size : 100% 100%;
	background-attachment: fixed; 
}

/*Block*/
.block {
	height: 100%;
	background-attachment: fixed; 
	position: absolute !important;
	z-index: 1;
}
/*Oter*/
.login h1, label{
	    color: rgb(229,229,229);
}

a{
	color:	rgb(136,70,4);
}

.btn{
	color :rgb(229,229,229);
	background-color: rgb(12,145,2);
}

/*Inputs and texts*/
.input{
	margin-bottom: 2px;
	padding-left: 5px !important;

}

.text{
	float: right;
	text-align: right: ;
	padding-right: 5px !important;
}