
/*Background colors*/
.primaryColor{
	background-color: rgb(96,149,0);
}

.primaryColor-black{
	background-color: rgb(67,62,32);
}

.primaryColor-light{
	background-color:  rgb(212,222,161);
}

.adviseColor{
	background-color: rgb(167,22,0);
}

.adviseColor-light{
	background-color: rgb(252,103,72);
}
.whiteColor{
	background-color: rgb(245,245,245);
}

.blackColor{
	background-color: rgb(40,40,40);
}

/*Text colors*/
.text-primaryColor{
	color: rgb(114,114,42);
}

.text-primaryColor-black{
	color: rgb(67,62,32);
}

.text-primaryColor-light{
	color:  rgb(212,222,161);
}

.text-adviseColor{
	color: rgb(167,22,0);
}

.text-adviseColor-light{
	color: rgb(247,164,24);
}
.text-whiteColor{
	color: rgb(245,245,245);
}

.text-blackColor{
	color: rgb(40,40,40);
}