/*body*/
html,body{
	height: 100%;
}

/*head*/
.head{
	padding: 5px;
}
.logo{
	cursor: pointer;
}

.headButton input{
	border: 0px;	
}

.textSearch{
	border: 1px solid rgb(96,149,0);
	border-radius: 2px;
	padding: 2px 5px;
	margin-left: 2px;

}
.buttonSearch{
	border-radius: 2px;
	margin-left: 2px;
	padding: 2px 10px;
	border: none;
}

/*menu*/
.buttonPost{
	border-radius: 2px;
	margin-left: 2px;
	padding: 8px 10px;
	border: none;
	margin: 10px auto;
}
.buttonCategory{
	border: 1px solid rgb(96,149,0);
	border: none;
	margin-left: 2px;
	padding: 8px 10px;
	margin: 0px auto;
	text-align: left;
}

.menu{
	padding: 10px;
	height: 93%;
}

/*wall*/

.wall{
	padding: 20px 15px;
	height: 93%;
}

/*postResume*/
.postResume{
	padding: 10px 0px;
	margin: 0px 10px 15px 10px;
}
.postResume h3{
	font: 17px arial, sans-serif;
	font-weight: bold;
	margin: 2px 2px;
}
.postResume p{
	color: #555;
}

/*slideEdition*/

.slideEdition{
	border-radius: 1px;
	border: 1px solid rgb(96,149,0);
	padding: 30px 20px;
	margin: 1% 5%;
	background-color: rgb(250,250,250);
}

/*slideBar*/
.slideResume{
	border-radius: 1px;
	border: 1px solid rgb(96,149,0);
	padding: 2px 5px;
	margin: 5px;
	background-color: rgb(250,250,250);
}
.slideResume h2{
	font: 18px arial, sans-serif;
	font-weight: bold;
	margin: 2px 2px;
}
.slideResume label{
	font: 10px arial, sans-serif;
}

/*slide*/
.nextButton{
	border-radius: 2px;
	margin-left: 2px;
	padding: 10px 20px;
	border: none;
}
.publicButton{

}

.saveButton{

}

.slideEdition > .form-group > div{
	padding: 5px 10px;
}
.slideEdition > .form-group > div > label{
	text-align: right;
	padding-right: 0px;
}
