*{
	margin: 0px;
	padding: 0px;
}

.nopadding{
	padding: 0x;
	padding-left: 0 !important;
    padding-right: 0 !important;
}

.boder{
	border-radius: 2px;
	box-sizing: border-box;
}

.borderBox{
	box-sizing: border-box;
}